<style>
    h1 {
      margin: 8px 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 50px;
    }

    p {
      margin: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
    }

    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
</style>


<div class="content" role="main">
    <h1>About Me</h1>
    <p>
        Hey guys,
        Am  Dhruv and I am a Python trainee and I do also know Scratch, Blockly, KTurtle Batch, Javascript and many more. I wanted to share this knowledge to others who are interested to learn coding.
    </p>
</div>