<style>
.links {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .navicon {
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
  }

  .navicon:visited {
    color: #24292e;
    text-decoration: none;
  }

  footer {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: flex;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: red;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  @media screen and (max-width: 767px) {
  
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div class="toolbar" role="banner">
    <a href='./'>
      <img
        width="40"
        alt="Website Logo"
        src="../favicon.ico"
      />
    </a>
      <div class="links">
        <a class='navicon' href='./'>
          <span>Home</span>
        </a>
        <a class='navicon' href='./posts'>
          <span>Posts</span>
        </a>
        <a class='navicon' href='./contact'>
          <span>Contact</span>
        </a>
        <a class='navicon' href='./about'>
          <span>About</span>
        </a>
      </div>
  </div>

<router-outlet></router-outlet>

<footer>
  <a href="https://www.youtube.com/channel/UCAKach0yPvEjLxLOY5MtS5A?sub_confirmation=1">Like my tutorials? Subscribe to show your support! &#10084;</a>
</footer>